 <section class="border-white border-y">
        <div class="text-white mx-auto">
          <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
            <div class="w-full justify-between grid">
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r">
              </div>
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
              </div>
            </div>
            <div
              class="flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap">
              Digital Content Creator <span class="hidden lg:inline">✺</span>Graphic Design <span
                class="hidden lg:inline">✺</span
              > Commercial Photo <span class="hidden lg:inline">✺</span> Design & Development <span
                class="hidden lg:inline">✺</span
              >E-Commerce Website <span class="hidden lg:inline">✺</span> Digital Signage <span
                class="hidden lg:inline">✺</span
              > Digital Content Creator <span class="hidden lg:inline">✺</span>Graphic Design <span
                class="hidden lg:inline">✺</span
              > Commercial Photo <span class="hidden lg:inline">✺</span> Design & Development <span
                class="hidden lg:inline">✺</span
              >E-Commerce Website <span class="hidden lg:inline">✺</span> Digital Signage <span
                class="hidden lg:inline">
            </div>
          </div>
        </div>
      </section>