<footer class="border-white border-b bg-accent-500">
  <div class="mx-auto border-white border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center items-center mx-auto">
        <p class="uppercase font-display text-2xl">IRVING DESIGN</p>
        <p class="mx-auto mt-3 text-sm">
          Bangkok &nbsp; Thailand &nbsp; &rarr; &nbsp;(+66) 081 442 9232
        </p>
      </div>
    </div>
  </div>
</footer>
