<section
  class="mx-auto border-white border-t 2xl:max-w-7xl bg-black border-b justify-center lg:fixed lg:z-50 w-full">
  <div class="mx-auto bg-black justify-center w-full">
    <div
      class="mx-auto border-white border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
      <div
        class="text-white text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-8">
        <a
          href="/"
          class="w-1/3 text-white text-xs font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase"
          ><span>IRVING ⏤ By Adisak Jantra Sopark &nbsp; &rarr;</span>
        </a>
        <a
          href="/"
          class="w-1/3 bg-white duration-200 font-display hover:bg-black hover:text-white lg:ml-auto lg:w-auto px-6 py-4 sm:xrounded-full text-black text-center text-xs uppercase"
          >works</a
        ><a
          href="mailto:ajsopark@gmail.com"
          class="w-1/3 bg-carrot duration-200 font-display hover:bg-blacktext-white lg:w-auto px-6 py-4 sm:xrounded-full text-black/70 hover:text-white text-center text-xs uppercase"
          >Contact Me</a
        >
      </div>
    </div>
  </div>
</section>
